@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-background: #0b1b2e;
  --size: 50px;
}

/* animation: var(--animate-slide); */

@keyframes slide {
  100% {
    transform: translateY(-4%);
  }
  /* 50% {
    transform: translateY(-2.5%);
  } */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f212e;
    --foreground: #ededed;
  }
}

.logo{
  font-size: calc(var(--size) - 10%);
  color: #3867db;
  text-shadow: 4px 2px #7ab0de5e;
  white-space: nowrap;
}

body {
  padding: 1rem;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card{
  background-color: #1a3049;
}
a>.card:hover{
  background: var(--dark-background);
  box-shadow: 13px 12px 11px #36606e78;
}
a>p:hover{
  color: var(--color-gray-200);
}